.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

.content {
  max-width: 42rem;
  margin: 0 auto;
  margin-top: 2rem;
}

.text {
  font-size: 1.125rem;
  line-height: 1.7;
}
