.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

.table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 2rem;
  border-collapse: collapse;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid #333;
}

.table tr:last-child td {
  border-bottom: none;
}

.table td:first-child {
  width: 150px;
  font-weight: bold;
}
