.container {
  max-width: 90%;

  pre {
    display: inline-block;
    width: 600px;
    padding-left: 10px;
    text-align: left;
    color: #fff;
    background: #222;
    border: #aaa 5px solid;
    border-radius: 10px;
    font-size: 1rem;
    line-height: 1.2rem;
  }
}
