.container {
  display: inline-block;
  margin: 0 1rem;
  transition: transform 0.3s ease;
}

.container:hover {
  transform: scale(1.1);
}

.github-icon {
  color: #24292e;
}

.qiita-icon {
  color: #55c500;
}

.zenn-icon {
  color: #00a4de;
}

.x-icon {
  color: #000000;
}
