.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2.5rem 1rem;
}

.content {
  margin-top: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;

  @media (width <= 768px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.projectTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
}

.imageContainer {
  margin-bottom: 1.5rem;
}

.image {
  margin: 0 auto;
  border: 1px solid #333;
}
